{% extends "base.html" %}
{% block title %}{% if todo %}Edit{% else %}Create{% endif %} Todo{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>{% if todo %}Edit{% else %}Create{% endif %} Todo</h2>
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">
      {% if todo %}Update{% else %}Create{% endif %}
    </button>
    <a class="btn btn-secondary" href="{% url 'todos:home' %}">Cancel</a>
  </form>
</div>
{% endblock %}
